html, body {
  height: 100%;
  width: 100%;
      font-family: 'Oswald', sans-serif;
    background-color: #77bb41;
    text-align: center;
}

img {
    width: 400px;
}
.tomato{
  display: none;
}

.pinapple{
  display: none;
}

.bannana{
  display: none;
}
.cranberry{
  display: none;
}